.authors
  - @authors.each do |author|
    .author
      .name
        = author.first_name
        = author.last_name
      .biography= author.biography
      %ul.author-books
        - author.last_5_books(author).each do |book|
          %li.book= image_tag book.cover_url
      .clearfix
